/* ///////////////////////// */
/* COMMON STYLES */
/* ///////////////////////// */

/* ========================= */
/* GENERAL */
/* ========================= */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;	
}
h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0 0 5px 0;
}
h2 {
  font-weight: 300;
  font-size: 1.8em;
  background-position: center;
  background-repeat: repeat-x;
  text-transform: uppercase;
}
h2 span {
  padding: 0 15px;
  display: inline-block;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 0.9em;
}
p {
  font-size: 0.9em;
  line-height: 1.4em;
  margin: 0 0 15px 0;
}
a {
  color: #004b8d;
  text-decoration: none;
}
a:hover {
  color: #1774c6;
}
.small-text {
  font-size: 0.75em;
  line-height: 1em;
}
/* TITLES */
.title-blue-white {
  color: #004b8d;
}
.title-white-beige, .title-white-blue {
  color: #FFF;
}
.sub-title-grey {
  color: #777;
}
.sub-title-brown {
  color: #41310e;
}
/* CTAs */
.cta {
  color: #FFF !important;
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
}
.cta:before {
  font-family: FontAwesome;
  font-size: 18px;
  font-weight: normal;
  content: '\f101';
  padding-right: 5px;
}
.cta:hover {
  opacity: 0.75;
}
.cta-blue {
  background: #4f9fea;
  background: -moz-linear-gradient(top,  #4f9fea 0%, #3b8ad3 100%);
  background: -webkit-linear-gradient(top,  #4f9fea 0%,#3b8ad3 100%);
  background: linear-gradient(to bottom,  #4f9fea 0%,#3b8ad3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f9fea', endColorstr='#3b8ad3',GradientType=0 );
}
.cta-clear {
  border: solid 2px #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* SECTION ARROW DOWN */
.arrow-cover {
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 25px;
}
.arrow-cover-beige {
  background-image: url(../images/arrow_down_cover_beige.png);
}
.arrow-cover-blue {
  background-image: url(../images/arrow_down_cover_blue.png);
}
/* HELPERS */
::-webkit-scrollbar { 
  display: none; 
}
.menu-active {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ========================= */
/* NAV */
/* ========================= */
#header-navigation {
  background-color: #004b8d;
  background-image: url(../images/gradient_navigation.jpg);
  background-position: center top;
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
  border-bottom: 1px solid #012e56;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#header-navigation a {
  color: #FFF;
  text-decoration: none;
}
/* LOGO */
#header-navigation h1 {
  width: 48vw;
  height: 30px;
  margin: 10px 0 0 15px;
  background-image: url(../images/glassman_logo_mobile.png);
  background-repeat: no-repeat;
  background-position: 0px center;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
  float: left;
}
/* CONTACT MENU */
#header-navigation-contact {
  float: right;
}
#header-navigation-contact a span {
  display: none;
}
#header-navigation-contact a {
  font-size: 20px;
  width: 45px;
  line-height: 50px;
  display: block;
  float: left;
  border-left: 1px solid #1774c6;
  text-align: center;
}
#header-navigation-contact a:before {
  font-family: FontAwesome;
}
#header-navigation-contact a:nth-child(1):before {
  content: '\f095';
}
#header-navigation-contact a:nth-child(2):before {
  content: '\f0e0';
}
/* BARS BUTTON */
a#header-navigation-bars {
  width: 45px;
  background-color: #1774c6;
  border: 0;
}
a#header-navigation-bars:before {
  content: '\f0c9';
}
a#header-navigation-bars.header-navigation-close {
  background-color: #b59859 !important;
}
a#header-navigation-bars.header-navigation-close:before {
  content: '\f00d' !important;
}
/* MAIN MENU */
#header-navigation-main {
  display: none;
  background-color: #004b8d;
  width: 100%;
  height: calc(100% - 51px);
  position: fixed;
  top: 51px;
  left: 0;
  z-index: 2;
}
#header-navigation-main a {
  display: block;
  padding: 0 20px;
  background-image: url(../images/gradient_navigation.jpg);
  background-position: center bottom;
  background-repeat: repeat-x;
  border-top: 1px solid #1774c6;
  border-bottom: 1px solid #012e56;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16vh;
}
#header-navigation-main a:after, #header-navigation-main a:before {
  font-family: FontAwesome;
}
#header-navigation-main a:after {
  content: '\f105';
  float: right;
  color: #1774c6;
}
#header-navigation-main a:before {
  display: inline-block;
  width: 40px;
}
#header-navigation-main a:nth-child(1):before {
  content: '\f015';
}
#header-navigation-main a:nth-child(2):before {
  content: '\f007';
}
#header-navigation-main a:nth-child(3):before {
  content: '\f022';
}
#header-navigation-main a:nth-child(4):before {
  content: '\f086';
}
#header-navigation-main a:nth-child(5):before {
  content: '\f041';
}
#header-navigation-main a:last-child {
  border-bottom: 0;
  background-image: none;
}

/* ========================= */
/* BANNER */
/* ========================= */
#header-banner {
  margin-top: 50px;
  height: 180px;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: auto 25px, cover;
}
#header-banner.home {
  background-image: url(../images/arrow_down_cover_white.png), url(../images/header_bg_city.jpg);
}

/* ========================= */
/* HOMEPAGE - PRACTICE */
/* ========================= */
#home-practice .unit:after {
  display: block;
  content: '';
  height: 1px;
  width: 100%;
  background-color: #CCC;
  margin: 30px 0 10px;
}
#home-practice .grid:first-child .unit:after, #home-practice .grid:nth-child(3) .unit:last-child:after {
  display: none;
}

/* ========================= */
/* HOMEPAGE - MEET */
/* ========================= */
#home-meet {
  background-color: #b59859;
  color: #FFF;
}
#home-meet h2 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.staff-headshot {
  width: 45vw;
  margin-bottom: 15px;
  border: solid 3px #FFF;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
.staff-small {
  margin-top: 10px;
  padding-top: 30px;
  border-top: solid 1px #94793f;
}

/* ========================= */
/* CONTACT */
/* ========================= */
#contact {
  background-color: #004b8d;
  color: #FFF;
}
#contact h2, #contact h3, #contact h4 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#contact h4 {
  color: #3b9aed;
}
#contact p:first-child {
  margin: 0 0 20px;
}
#contact a {
  color: #FFF;
  font-weight: 700;
}
.location:last-child {
  margin-top: 30px;
  padding-top: 15px;
  border-top: solid 1px #1774c6;
}
.location-image {
  width: 45vw;
  margin: 20px 0 10px;
  border: solid 3px #FFF;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
/* FORM */
input, textarea {
  border-radius: 0;
  border: 0;
  background-color: #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}
input:focus, textarea:focus {
  background-color: #f8f656;
}
input:not([type="checkbox"]), textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
input:not([type="checkbox"]) {
  height: 40px;
}
textarea {
  height: 140px;
  margin-bottom: 20px;
}
input[type="checkbox"] {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  vertical-align: top;
}
button {
  border: 0;
  display: block !important;
  margin: 20px auto;
}


/* ========================= */
/* ANIMATIONS */
/* ========================= */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* ///////////////////////// */
/* MEDIA QUERIES */
/* ///////////////////////// */

@media only screen and (max-width: 767px) and (max-height: 375px) {
  
  /* ========================= */
  /* NAV */
  /* ========================= */
  /* MAIN MENU */
  #header-navigation-main a {
    line-height: 14vh;
  }

}

@media only screen and (min-width: 768px) {

  /* ========================= */
  /* GENERAL */
  /* ========================= */
  section {
    padding-top: 20px;
  }
  /* TITLES */
  .title-blue-white {
    background-image: url(../images/title_lines_blue.gif);
  }
  .title-white-beige, .title-white-blue {
    background-image: url(../images/title_lines_white.png);
  }
  .title-blue-white span {
    background-color: #FFF;
  }
  .title-white-beige span {
    background-color: #b59859;
  }
  .title-white-blue span {
    background-color: #004b8d;
  }
  /* SECTION ARROW DOWN */
  .arrow-cover {
    background-size: auto 35px;
    padding-bottom: 100px;
  }
  
  /* ========================= */
  /* NAV */
  /* ========================= */
  #header-navigation {
    height: 80px;
    background-position: center bottom;
  }
  /* LOGO */
  #header-navigation h1 {
    width: 167px;
    height: 139px;
    margin: 15px 0 0 15px;
    background-image: url(../images/glassman_logo@3x.gif);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
  }
  #header-navigation h1.scroll-down {
    width: 100px;
    height: 84px;
  }
  /* CONTACT MENU */
  #header-navigation-contact a {
    line-height: 80px;
  }
  /* MAIN MENU */
  #header-navigation-main {
    display: block !important;
    background-color: inherit;
    width: auto;
    height: auto;
    position: relative;
    top: initial;
    left: initial;
    z-index: 1;
    float: right;
    margin: 30px 25px 0 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #header-navigation-main.scroll-down {
    margin-right: 50px;
  }
  #header-navigation-main a {
    display: inline-block;
    padding: 0 11px;
    background-image: none;
    border-top: 0;
    border-bottom: 0;
    border-right: solid 1px #1774c6;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    line-height: normal;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #header-navigation-main a:hover {
    color: #56aaf4;
  }
  #header-navigation-main a:first-child {
    padding-left: 0;
  }
  #header-navigation-main a:last-child {
    padding-right: 0;
    border: 0;
  }
  #header-navigation-main a:after, #header-navigation-main a:before {
    display: none !important;
  }

  /* ========================= */
  /* BANNER */
  /* ========================= */
  #header-banner {
    margin-top: 80px;
    height: 300px;
    background-size: auto 35px, cover;
  }
  #header-banner.home {
    background-image: url(../images/arrow_down_cover_white.png), url(../images/header_bg_city.jpg);
  }

  /* ========================= */
  /* HOMEPAGE - PRACTICE */
  /* ========================= */
  #home-practice .unit:after {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #CCC;
    margin: 30px 0 10px;
  }
  #home-practice .grid:nth-child(3) .unit:after {
    display: none;
  }

  /* ========================= */
  /* HOMEPAGE - MEET */
  /* ========================= */
  #home-meet h2 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }
  .staff-headshot {
    width: 32%;
    height: auto;
    margin: 0;
    float: left;
    margin-right: 4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .staff-content {
    width: 64%;
    float: left;
  }
  .staff-small {
    margin: 0 4% 0 0;
    padding-top: 0;
    border-top: 0;
  }
  .staff-small .staff-headshot {
    width: 20%;
  }
  .staff-small .staff-content {
    width: 76%
  }
  .staff-small .cta {
    padding: 0;
    font-size: 12px;
    border: 0;
    color: #41310e !important;
  }
  .staff-small .cta:before {
    font-size: 13px;
  }
  .staff-small p {
    margin-bottom: 5px;
  }

  /* ========================= */
  /* CONTACT */
  /* ========================= */
  #contact {
    padding-bottom: 60px;
  }
  #contact h4 {
    margin-bottom: 20px;
  }
  .location {
    *zoom: 1;
    margin-bottom: 30px;
  }
  .location:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .location:after {
    clear: both;
  }
  .location:last-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
  .location-image {
    width: 32%;
    height: auto;
    margin: 0 4% 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
  }
  .location-content {
    width: 64%;
    float: left;
  }
  input[type="checkbox"] {
    display: block;
    float: left;
    margin: 5px 10px 60px 0;
  }
  button {
    margin: 20px 0;
  }

  /* ========================= */
  /* FOOTER */
  /* ========================= */
  footer {
    padding: 40px 0;
  }

}

@media only screen and (min-width: 960px) {

  /* ========================= */
  /* GENERAL */
  /* ========================= */
  body {
    font-size: 100%;
  }
  h2 {
    font-size: 2.6em;
  }

  /* ========================= */
  /* BANNER */
  /* ========================= */
  #header-banner {
    height: 400px;
  }

  /* ========================= */
  /* CONTACT */
  /* ========================= */
  /* FORM */
  input:not([type="checkbox"]) {
    float: left;
    width: 48%;
    margin: 4% 4% 0 0;
  }
  input:not([type="checkbox"]):nth-of-type(2), input:not([type="checkbox"]):nth-of-type(4) {
    margin-right: 0;
  }
  textarea {
    margin-top: 4%;
  }

}

@media only screen and (min-width: 1200px) {

  /* ========================= */
  /* GENERAL */
  /* ========================= */
  h2 {
    margin-bottom: 20px;
  }
  
  /* ========================= */
  /* NAV */
  /* ========================= */
  /* CONTACT MENU */
  #header-navigation-contact a {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    width: auto;
    border-left: 0;
    text-align: right;
    margin-left: 20px;
  }
  #header-navigation-contact a span {
    display: initial;
  }
  #header-navigation-contact a:before {
    margin-right: 10px;
    border: solid 1px #FFF;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #header-navigation-contact a:hover:before {
    background-color: #1774c6;
  }
  #header-navigation-contact a:nth-child(1):before {
    padding: 10px 13px;
  }
  #header-navigation-contact a:nth-child(2):before {
    padding: 12px;
    font-size: 16px
  }
  /* MAIN MENU */
  #header-navigation-main {
    margin-right: 90px;
  }
  #header-navigation-main.scroll-down {
    margin-right: 140px;
  }

  /* ========================= */
  /* HOMEPAGE - MEET & CONTACT */
  /* ========================= */
  #home-meet .grid:nth-child(2) .unit:nth-child(2), #contact .grid:nth-child(2) .unit:nth-child(2) {
    padding-left: 40px;
  }
  #home-meet .grid:nth-child(2) .unit:nth-child(1), #contact .grid:nth-child(2) .unit:nth-child(1) {
    padding-right: 40px;
    border-right: solid 1px #94793f;
  }

  /* ========================= */
  /* CONTACT */
  /* ========================= */
  #contact .grid:nth-child(2) .unit:nth-child(1) {
    border-right: solid 1px  #1774c6;
  }
  .location-content {
    padding-top: 30px;
  }

}